{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>WebCMDB</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
		<link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/base.css' %}"/>
		<link rel="stylesheet" href="{% static 'css/form.css' %}"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	</head>
	<body>
		<div class='webcmdb-index' id='webcmdb-index'>
			<h1><a href="{% url 'WebCMDBapi:index' %}">SciTech WebCMDB</a></h1>
		</div>
		<div class='webcmdb-nav' id='webcmdb-nav'>
			{% if index_id %}
				<div class="webcmdb-index-status">
					<p>{{index_id}}</p>
				</div>
			{% endif %}
			<div class="webcmdb-search-options">
				<select id="machine">
					<option value="All">All</option>
					<option value="Computer">Computer</option>
					<option value="Server">Server</option>
				</select>
			</div>
			<div class='webcmdb-search-container'>
				<form id="search" action="" method="GET">
					<input type="text" id="your_input"/>
					<input type="hidden" name="search" id="your_input_hidden"/>
					<button type="submit" onclick="get_search_query()"><i class="fa fa-search"></i></button>
				</form>
			</div>
			<div class='webcmdb-search-container'>
				<form action="/computer_detail/00000000-0000-0000-0000-000000000000" method="GET">
					<input type="hidden" value="None"/>
					<button type="submit">Add computer</button>
				</form>
			</div>
			<div class='webcmdb-search-container'>
				<form action="/server_detail/00000000-0000-0000-0000-000000000000" method="GET">
					<input type="hidden" value="None"/>
					<button type="submit">Add server</button>
				</form>
			</div>
			<div class='webcmdb-search-container'>
				<form action="/upload" method="GET">
					<input type="hidden" value="None"/>
					<button type="submit">Import CSV</button>
				</form>
			</div>
		</div>
		<div id='webcmdb-git-tracker'>
			<div class="center">
				<div class="loader"></div>
				<h3 id='git-loading'>Checking authoritative machines.csv ...</h3>
			</div>
			<div id='git-diff-show'></div>
		</div>

		<script>
			$(document).ready(function() {
				var diffAPI = "http://localhost:8000/api/diff";
				$.getJSON( diffAPI, function ( data ) {
					if (data.summary == "No changes detected"){
						$("#webcmdb-git-tracker").html("<h3 style='color:green;'>"+data.summary+"</h3>");
					} else {
						$("#webcmdb-git-tracker").html("<h3 style='color:red;'>"+data.summary+"</h3>");
						$("#webcmdb-git-tracker").append(`
							<div class='center'>
								<button id="button-diff" class="btn btn-info" onclick="toggleDiff()">Show Diff</button>
								<form action="{% url 'WebCMDBapi:update_database' %}" method="POST">
									<button type="submit" class="btn btn-danger" onclick="return confirm('This will overwrite the current database. Are you sure?')">Update</button>
								</form>
							</div>
							<div id='git-diff-show'>
								<table id='git-diff-table' style='width:75%; margin-top: 10px; margin-left:auto; margin-right:auto'>
									<tr>
										<th>ID</th>
										<th>Status</th>
										<th>Name</th>
										<th>Machine UUID</th>
										<th>Attribute</th>
										<th>WebCMDB</th>
										<th>git</th>
									</tr>
								</table>
							</div>
						`);
						var added = data.diff.added;
						var removed = data.diff.removed;
						var changed = data.diff.changed;
						for (var i = 0;  i < removed.length; i++) {
							var mod2 = i % 2;
							if (mod2 == 0) {								
								$("#git-diff-table").append(`
									<tr style='background-color: LightGray'>
										<th>${i}</th>
										<th>Removed</th>
										<th>${removed[i]["1 NAME"]}</th>
										<th>${removed[i]["21 UUID"]}</th>
										<th></th>
										<th style='background-color: LightGreen'>${removed[i]["1 NAME"]}</th>
										<th style='background-color: LightCoral'>${removed[i]["1 NAME"]}</th>	
									</tr>
								`);
							} else {
								$("#git-diff-table").append(`
									<tr>
										<th>${i}</th>
										<th>Removed</th>
										<th>${removed[i]["1 NAME"]}</th>
										<th>${removed[i]["21 UUID"]}</th>
										<th></th>
										<th style='background-color: LightGreen'>${removed[i]["1 NAME"]}</th>
										<th style='background-color: LightCoral'>${removed[i]["1 NAME"]}</th>	
									</tr>
								`);
							};
						};
						for (var i = 0;  i < changed.length; i++) {
							var changes = changed[i].changes;
							var mod2 = i % 2;
							if (mod2 == 0) {
								for (let attr in changes) {
									$("#git-diff-table").append(`
										<tr style='background-color: LightGray'>
											<th>${i}</th>
											<th>Changed</th>
											<th>${changed[i]["hostname"]}</th>
											<th>${changed[i].key}</th>
											<th>${attr}</th>
											<th style='background-color: LightGreen'>${changes[attr][0]}</th>
											<th style='background-color: LightCoral'>${changes[attr][1]}</th>	
										</tr>
									`);
								};
							} else {
								for (let attr in changes) {
									$("#git-diff-table").append(`
										<tr>
											<th>${i}</th>
											<th>Changed</th>
											<th>${changed[i]["hostname"]}</th>
											<th>${changed[i].key}</th>
											<th>${attr}</th>
											<th style='background-color: LightGreen'>${changes[attr][0]}</th>
											<th style='background-color: LightCoral'>${changes[attr][1]}</th>	
										</tr>
									`);
								};
							};
						};
					};
					$("#git-diff-show").hide();
					$("#git-loading").hide();
				});
			});

			function toggleDiff() {
				var x = document.getElementById("git-diff-show");
				var b = document.getElementById("button-diff");
				if (x.style.display === "none") {
					x.style.display = "block";
					b.innerText = "Hide Diff";
				} else {
					b.innerText = "Show Diff";
					x.style.display = "none";
				}
			}; 

			function get_search_query() {
				var search_select = document.getElementById('machine');
				var machine = search_select.value;
				var form = document.getElementById('search');
				var query = document.getElementById('your_input').value;
				document.getElementById("your_input_hidden").value = query;
				switch(machine) {
					case "Computer":
						form.action = "{% url 'WebCMDBapi:computer_search_generic' %}";
						break;
					case "Server":
						form.action = "{% url 'WebCMDBapi:server_search_generic' %}";
						break;
					case "All":
						form.action = "{% url 'WebCMDBapi:all_search_generic' %}";
						break;
				}
			}
		</script>
		{% block content %}
		{% endblock content %}
	</body>
</html>